@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

html {
  box-sizing: border-box;
}

:root {
  /*Primary Colours*/

  --violet: hsl(257, 40%, 49%);
  --dark-violet: hsl(257, 40%, 30%);
  --soft-magenta: hsl(300, 69%, 71%);

  --heading-font: "Poppins", sans-serif;
  /* Weights: 400, 600 */
  --body-font: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: white;
  line-height: 1.5;
}

body {
  background-color: var(--violet);
  background-image: url("./images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  font-family: var(--body-font);
  font-weight: 400;
}

h1 {
  font-family: var(--heading-font);
  font-weight: 600;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

.container,
.flex {
  width: 90%;
}

.container {
  margin: 1em auto;
}

.flex {
  margin: 0 auto 5em;
}

/* Header */
header img {
  width: 150px;
  margin: 2em 0 0;
}

/* Illustration */
.illustration {
  margin: 4em 0;
}

/* Intro */
.intro {
  text-align: center;
  letter-spacing: 1px;
}

h1 {
  font-size: 2rem;
}

.intro p {
  padding: 1em 0;
  margin-bottom: 1em;
}

.intro a {
  text-decoration: none;
  color: var(--violet);
  background-color: white;
  font-size: 0.85rem;
  font-family: var(--heading-font);
  padding: 1em 5em;
  box-shadow: 3px 3px 2px 1px var(--dark-violet);
  border-radius: 2em;
}

.intro a:hover {
  background-color: var(--soft-magenta);
  color: white;
}

/* Social Media Section */
.social-media-links {
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

ion-icon {
  font-size: 24px;
  border: 1px solid white;
  padding: 0.25em;
  border-radius: 50%;
}

ion-icon:hover {
  color: var(--soft-magenta);
  border-color: var(--soft-magenta);
}

/*Footer Section */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 3em;
}

.attribution a:hover {
  color: var(--soft-magenta);
}

@media (min-width: 45em) {
  .flex {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    gap: 5em;
  }

  .illustration {
    margin: 0;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  .intro a {
    max-width: 30%;
    text-align: center;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  .social-media-links {
    order: 2;
  }

  .attribution {
    order: 1;
  }
} ;
